@model IEnumerable<Hospital.Models.visita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proximaFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receta.idPaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proximaFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receta.idPaciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVisita }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVisita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVisita })
        </td>
    </tr>
}

</table>
