@{
    ViewBag.Title = "Home Page";
}

<html>
<body>

    <div class="jumbotron background-color:transparent !important; bg-info mt-4">
        <h2 class="display-4 text-white text-center">Bienvenido</h2>
        <p class="lead text-white text-center mt-2">Aqui la salud esta primero</p>
        <div class="text-center">
            <p><a href="http://google.com" class="btn btn-light btn-large btn-responsive mt-2">Ejemplo &raquo;</a></p>

        </div>
    </div>


    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info ml-2" style="height: 22rem;" >
                <img class="card-img-top" src="~/Content/Media/12354.png" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center text-white">Doctor</h4>
                    <p class="card-text text-center text-white" >
                        Aqui puedes encontrar , a los mejores doctores.

                    </p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Pacientes", "Index", "pacientes", null, new { @class = "btn btn-light" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info mr-4" style="height: 22rem;">
                <img class="card-img-top" src="~/Content/Media/12354.png" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center text-white">Citas</h4>
                    <p class="card-text text-center text-white">Aqui puedes encontrar , a los mejores doctores.</p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Empleados", "Index", "empleadoes", null, new { @class = "btn btn-light" })
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info " style="height: 22rem;">
                <img class="card-img-top" src="~/Content/Media/12354.png" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center text-white">Consultas</h4>
                    <p class="card-text text-center text-white">
                        Aqui puedes encontrar , a los mejores doctores.

                    </p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Consultas", "Index", "consultas", null, new { @class = "btn btn-light" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-info" style="height: 22rem;">
                <img class="card-img-top" src="~/Content/Media/12354.png" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center text-white">Cita</h4>
                    <p class="card-text text-center text-white">
                        Aqui puedes encontrar , a los mejores doctores.
                    </p>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Citas", "Index", "citas", null, new { @class = "btn btn-light" })
                </div>
            </div>
        </div>


    </div>

    @Scripts.Render("~/content/media/Site.css")

</body>
</html>


