@model IEnumerable<Hospital.Models.cita>

@{
    ViewBag.Title = "Index";
}

<h2>Citas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Motivo
        </th>
        <th>
            Fecha
        </th>
        <th>
            Doctor
        </th>
        <th>
            Paciente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado.nombre) @Html.DisplayFor(modelItem => item.empleado.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre) @Html.DisplayFor(modelItem => item.paciente.apellido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCita })
        </td>
    </tr>
}

</table>
