@model Hospital.Models.receta

@{
    ViewBag.Title = "Delete";
}

<h2 class="mt-4">Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>receta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaReceta)
        </dd>

        <dt>
            Detalle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalleReceta)
        </dd>

        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.nombre)
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paciente.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
