@model IEnumerable<Hospital.Models.receta>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-4">Recetas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Detalle
        </th>
        <th>
            Doctor
        </th>
        <th>
            Pasciente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaReceta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalleReceta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleado.nombre) @Html.DisplayFor(modelItem => item.empleado.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre) @Html.DisplayFor(modelItem => item.paciente.apellido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idReceta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idReceta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idReceta })
        </td>
    </tr>
}

</table>
